.ProseMirror {
  code {
    @apply font-mono text-[#EB5757] bg-[rgba(135,131,120,.15)] rounded-[4px] text-[85%] px-[0.4em] py-[0.2em];
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;

    &::selection {
      @apply bg-black/20;
    }
  }

  pre {
    @apply caret-white bg-neutral-700 text-white rounded-lg p-4 pt-10 border border-black dark:bg-neutral-900 dark:border-neutral-800;
    line-height: 1.5;
    overflow-x: auto;
    width: 100%;
    min-width: 100%;

    *::selection {
      @apply bg-white/20;
    }

    code {
      @apply bg-inherit text-inherit p-0 shadow-none;
      white-space: pre !important;
    }
  
    code.wrap {
      white-space: pre-wrap !important;
    }
  
    code.nowrap {
      white-space: pre !important;
    }

    .hljs-comment,
    .hljs-quote {
      @apply text-neutral-400;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      @apply text-red-300;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      @apply text-orange-300;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      @apply text-lime-300;
    }

    .hljs-title,
    .hljs-section {
      @apply text-yellow-300;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      @apply text-teal-300;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
